
* {
  /* color:#fafaf9; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* global reset */
}

body {
  background-color: #0f172a;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
  font-weight:600px;
}

.fact-form {
  background-color: #1e293b;
  margin-bottom: 40px;
  padding: 16px 40px;
}

/* LAYOUTS */

.container {
  max-width: 1000px;
  /* background-color: aqua; */
  margin:0 auto;
  /* automatically figures out margin on left and right side */
  /* 
  margin-left: auto;
  margin-right: auto;
   */
}

.header {
  margin-bottom: 40px;
  /* background-color:red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* background-color:blue; */
  display: flex;
  align-items: center;
  gap: 16px;
}


/* descended selector */

.logo img{
  width:68px;
  height:68px;
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}
h1 {
  font-size: 42px;
  text-transform: uppercase;
  /* text-align: center; */
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-family: "Sono", sans-serif;
  color: #fafaf9;
  background-color: #1e293b;
  margin-bottom: 16px;
  padding: 16px 30px;
  /* border:4px solid red; */

  display: flex;
  align-items: center;

  justify-content: space-between;
  letter-spacing: -1px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  /* color:#fafaf9; */
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius:100px;
}

.vote-buttons{
  display:flex;
  gap:8px;
  margin-left: auto;


}
.vote-buttons button{
  background-color:#78716c;
  border:none; 
  padding:6px 12px;
  border-radius:100px;
  color:inherit;
  font-family:inherit;
  font-weight:600;


}
ul {
  list-style: none;
}

.tests {
  background-color: black;
  margin: 100px;

  display: grid;
  /* grid-template-columns: 100px 200px 50px;
  grid-template-rows: 1fr 2fr; */
}

.child {
  background-color: red;
  font-size: 30px;
}


.category{
  margin-bottom:16px;
}


.source:link,
.source:visited{
  color:#a8a29e;
  text-decoration: none;
  margin-left:12px;
  transition:0.3s;
}

/* .source:visited{
  color:purple;
} */
/* pseudo-class */

.source:hover,
.source:active{
  color:#3b82f6;
}


.source:active{
  color:green;
}

.btn{
  border:none;
  font-family:"Coiny",sans-serif;
  line-height:1;
  text-transform:uppercase;
  font-size:17px;
  padding:16px 0 13px;

  background-image:linear-gradient(135deg,#3b82f6,#ef4444,#16a34a,#eab308);

  color:inherit;
  transition:0.3s;

  border-radius:100px;
  cursor:pointer;
}

.btn-large{
  font-size:20px;
  padding:20px 32px 17px;
}

.btn-all-categories{
  margin-bottom:16px;
  width:100%;
}


.btn-category{
  background-image:none;
  width:100%
}

.btn:hover{
  transform:scale(110%) rotate(-2deg);
}
